body {
  background-image: url("http://i.imgur.com/CFjU41M.jpg");
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100% 56%;
  background-color: rgb(255, 253, 208)
  position: relative;

  max-width: 1920px;
  max-height: 1080px;
  text-align: center;
}
h1 {
  font-family: "Rubik", sans-serif;
  color: black;
  outline: 5px solid teal;
}
body {
  color: black;
  position: relative;
}
img{
  width: 480px;
  height: 480px;
  
  position: relative;
}


  
/* LightGallery Position Correction */

div.lg-item,
div.lg-loaded,
div.lg-current,
div.lg-complete {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
